@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Light'), local('Gilroy-Light'), url('../fonts/gilroy/Gilroylight.woff2') format('woff2'), url('../fonts/gilroy/Gilroylight.woff') format('woff'), url('../fonts/gilroy/Gilroylight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), url('../fonts/gilroy/Gilroyextrabold.woff2') format('woff2'), url('../fonts/gilroy/Gilroyextrabold.woff') format('woff'), url('../fonts/gilroy/Gilroyextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
	font-family: 'NEWACADEMY';
	src: url('../fonts/new-academy/NEWACADEMY.woff2') format('woff2'),
		url('../fonts/new-academy/NEWACADEMY.woff') format('woff'),
		url('../fonts/new-academy/NEWACADEMY.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}